/* Master Styles */
h1 {
	color: #369;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 250%;
}

h2, h3 {
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
}

body {
	margin: 2em;
}

body, input[text], button {
	color: #888;
	font-family: Cambria, Georgia;
}

a {
	cursor: pointer;
	cursor: hand;
}

.ng-valid[required] {
  *border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  *border-left: 5px solid #a94442; /* red */
}

.form-control {
    *width: 250px !important;
    height: 28px !important;
}



button {
	font-family: Arial;
	background-color: #eee;
	border: none;
	padding: 3px 10px !important;
	line-height: 1.2 !important;
	border-radius: 4px;
	cursor: pointer;
	cursor: hand;
}

button:hover {
	background-color: #cfd8dc;
}

button:disabled {
	background-color: #eee;
	color: #aaa;
	cursor: auto;
}

/* Navigation link styles */
nav a {
	padding: 5px 10px;
	text-decoration: none;
	margin-top: 10px;
	display: inline-block;
	background-color: #eee;
	border-radius: 4px;
}

nav a:visited, a:link {
	color: #607D8B;
}

nav a:hover {
	color: #039be5;
	background-color: #CFD8DC;
}

nav a.router-link-active {
	color: #039be5;
}

/* items class */
.items {
	margin: 0 0 2em 0;
	list-style-type: none;
	padding: 0;
	width: 24em;
}

.items li {
	cursor: pointer;
	position: relative;
	left: 0;
	background-color: #EEE;
	margin: .5em;
	padding: .3em 0;
	height: 1.6em;
	border-radius: 4px;
}

.items li:hover {
	color: #607D8B;
	background-color: #DDD;
	left: .1em;
}

.items li.selected:hover {
	background-color: #BBD8DC;
	color: white;
}

.items .text {
	position: relative;
	top: -3px;
}

.items {
	margin: 0 0 2em 0;
	list-style-type: none;
	padding: 0;
	width: 24em;
}

.items li {
	cursor: pointer;
	position: relative;
	left: 0;
	background-color: #EEE;
	margin: .5em;
	padding: .3em 0;
	height: 1.6em;
	border-radius: 4px;
}

.items li:hover {
	color: #607D8B;
	background-color: #DDD;
	left: .1em;
}

.items li.selected {
	background-color: #CFD8DC;
	color: white;
}

.items li.selected:hover {
	background-color: #BBD8DC;
}

.items .text {
	position: relative;
	top: -3px;
}

.items .badge {
	display: inline-block;
	font-size: small;
	color: white;
	padding: 0.8em 0.7em 0 0.7em;
	background-color: #607D8B;
	line-height: 1em;
	position: relative;
	left: -1px;
	top: -4px;
	height: 1.8em;
	margin-right: .8em;
	border-radius: 4px 0 0 4px;
}

/* everywhere else */
* {
	font-family: Arial, Helvetica, sans-serif;
}

div.clear {
	padding: 20px 0px;
	display: block;
}

div.container {
	clear: both;
	margin: 0;
	padding: 0;
	width: 100%;
}

div.section50 {
	width: 50%;
	margin: 0;
	padding: 0;
}

div.section40 {
	width: 40%;
	margin: 0;
	padding: 0;
}

div.section30 {
	width: 30%;
	margin: 0;
	padding: 0;
}

div.section10 {
	width: 10%;
	margin: 0;
	padding: 0;
}

div.section60 {
	width: 60%;
	margin: 0;
	padding: 0;
}

div.section70 {
	width: 70%;
	margin: 0;
	padding: 0;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.info {
	color: green;
	*font-size: 15px;
	font-weight: 600;
	line-height: 1.5;
	text-align: center;
}

.error {
	color: maroon;
	*font-size: 15px;
	font-weight: 600;
	line-height: 1.5;
}

.warn {
	color: rgb(255, 187, 85);
	*font-size: 15px;
	font-weight: 600;
	line-height: 1.5;
}


table.table {
	border: none;
}

table.table tr, table.table td {
	border: none !important;
}

table.dtable {
	width: 100%;
	border: 1px solid #000;
	border-collapse: collapse;
	border-color: #AAA;
}

table.dtable thead td {
	font-weight: 600;
	padding: 2px;
}

table.dtable tbody td {
	padding: 2px;
}

div.hide {
	display: none;
}

div.show {
	display: block;
}
span.icon{
	margin-left: 3px;
	margin-right: 3px;
}
.btn .icon{
	margin-left: 0px;
	margin-right: 0px;
	font-size: 10px !important;
}
.pad5{
	padding: 5px 0px;
}
.pad10{
	padding: 10px 0px;
}

table.table-bordered{
	width: 100% !important;
}
table.table-bordered tbody td, table.table-bordered thead td{
	padding: 5px ;
}
table.table-bordered thead td{
	font-weight: bold !important;
}

div.clear{
	padding: 10px;
}

