<div class="panel panel-primary">

	<div class="panel-heading">{{title}}</div>

	<div class="panel-body">

		<div class="row">
			<div class="col-md-4">
				<input type="text" class='form-control' [(ngModel)]='query' 
						placeholder='Enter here to search product'
						(keyup)="searchProduct()" />
			</div>
		</div>

		<div class='clear'></div>

		<div class="table-responsive" *ngIf="productList && productList.length">
			<table class="table-bordered">
				<thead>
					<tr>
						<td>ProductId</td>
						<td>ProductName</td>
						<td>ProductCode</td>
						<td>Description</td>
						<td>Price</td>
						<td>Available</td>
						<td>Rating</td>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let product of productList">
						<td>{{product.productId}}</td>
						<td>{{product.productName}}</td>
						<td>{{product.productCode}}</td>
						<td>{{product.description}}</td>
						<td>{{product.price}}</td>
						<td>{{product.available}}</td>
						<td>{{product.rating}}</td>
					</tr>
				</tbody>
			</table>
		</div>
				
	</div>

</div>